{% extends 'layout.html' %}
{% block titulo %} Productos {% endblock %}
{% block contenido %} 

<style>
    .navbar {
      background-color: rgb(201, 175, 129) !important
    }
  
    .navbar-brand {
      color: #050500;
    }
  
    .navbar-nav .nav-link {
      color: #050500;
    }
  
    .navbar-nav .nav-link.active {
      color: #050500;
    }
  
    .dropdown-menu {
      background-color: #6f4e37;
    }
  
    .dropdown-item {
      color: #f5f5dc;
    }
  
    .dropdown-item:hover {
      background-color: #8b5e3c;
      color: #fff;
    }
  
    body {
      background-color: #cfc09c;
      color: #4a2c1e;
    }
  
    .carousel-item img {
      border-radius: 0.5rem;
    }
  
    .b-example-divider {
          width: 100%;
          height: 6rem;
          background-color: rgba(0, 0, 0, .1);
          border: solid rgba(0, 0, 0, .15);
          border-width: 1px 0;
          box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }
  
  </style>
  
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <i class="fa-solid fa-star fa-bounce" style="color: #8f4000;"></i>
        <a class="navbar-brand" href="/">Techcafe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/sUsuario">Usuarios</a></li>
                <li><a class="dropdown-item" href="/sProducto">Productos</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link">{{current_user.nombre}}</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/signout" ><i class="fa-solid fa-arrow-right-from-bracket fa-2xs" style="color: #000000;"></i></a>
            </li>
  
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
  </nav>

  <div class="container">
    {% with mensajes = get_flashed_messages() %}
          {% if mensajes %}
          {% for m in mensajes %}
          <div class="alert alert-success alert-dismissible fade show" role="danger">
            {{m}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}

<!-- Button Insert -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#insert">
  <i class="fa-solid fa-plus fa-2xl" style="color: #FFF;"></i>
</button>

<!-- Modal Insert -->
<div class="modal fade" id="insert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/iProducto" method="post">
      <div class="modal-body">
        <div class="col-md-6">
          <label for="inputName" class="form-label">Nombre del Producto</label>
            <input type="text" name="nombre" class="form-control" id="inputName">
            </div>
            
            <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Descripcion</label>
                <input type="text" name="descripcion" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Precio</label>
                <input type="number" name="precio" class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-md-6">
                      <label for="inputPassword4" class="form-label">Categoria</label>
                      <select name="categoria" class="form-select" aria-label="Default select example">
                        <option selected>Select a Profile</option>
                        <option value="BC">Bebida Caliente</option>
                        <option value="BF">Bebida Fria</option>
                        <option value="CO">Comida</option>
                      </select>
                    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>
          <div class="row row-cols-1 row-cols-md-3 g-4"> 

      {% for p in productos %}

      <div class="col">
      <div class="card">
        <img src="/static/img/{{p.6}}" class="card-img-top" alt="No se encontro la imagen">
        <div class="card-body">
          <h5 class="card-title">{{p.1}}</h5>
          <p class="card-text">{{p.2}}</p>
          <p class="cardtext">{{p.3}}</p>
          
          <!-- Button Update -->
<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#update{{p.0}}">
  <i class="fa-solid fa-gear fa-xl"></i>
</button>

<!-- Modal Update -->
<div class="modal fade" id="update{{p.0}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update a Product Nigger</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/uProducto" method="post">
      <div class="modal-body">
        <div class="col-md-6">
          <label for="inputName" class="form-label">Nombre del Producto</label>
            <input type="text" name="nombre" value="{{p.1}}" class="form-control" id="inputName">
            </div>
            
            <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Descripcion</label>
                <input type="text" name="descripcion" value="{{p.2}}" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Precio</label>
                <input type="number" name="precio" class="form-control" value="{{p.3}}" id="inputPassword4">
                    </div>
                    <div class="col-md-6">
                      <label for="inputPassword4" class="form-label">Categoria</label>
                      <select name="categoria" class="form-select" aria-label="Default select example">
                        <option selected>Select a Profile</option>
                        <option value="BC">Bebida Caliente</option>
                        <option value="BF">Bebida Fria</option>
                        <option value="CO">Comida</option>
                      </select>
                    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>


        </div>
      </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}